body {
  animation-play-state: paused;
  padding: 120px 20px;
  background-color: #FFFFFF;
  transform: translateY(50px);
  opacity: 0;
  animation: anim 0.8s ease-out forwards;
}

@keyframes anim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.tokipi {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.bawbaw {
  text-align: center;
}

.icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.fa-brands.fa-twitch.fa-2x{
  color: #00104c;
  transition: transform 0.2s ease, color 0.3s ease;
  cursor: pointer;
}

.fa-brands.fa-twitch.fa-2x:hover{
  transform: scale(1.1);
  color: #305CC8;
}

.fa-brands.fa-x-twitter.fa-2x{
  color: #00104c;
  transition: transform 0.2s ease, color 0.3s ease;
  cursor: pointer;
}

.fa-brands.fa-x-twitter.fa-2x:hover{
  transform: scale(1.1);
  color: #305CC8;
}

.fa-brands.fa-youtube.fa-2x{
  color: #00104c;
  transition: transform 0.2s ease, color 0.3s ease;
  cursor: pointer;
}

.fa-brands.fa-youtube.fa-2x:hover{
  transform: scale(1.1);
  color: #305CC8;
}

.hr {
  width: 30%;
  background: #00104c;
  margin: 20px auto;
  height: 1px;
}

.tilt {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.tilt:hover {
  transform: rotate(5deg);
}

.a1 {
  font-family: "Archivo Black";
  line-height: 0.50;
  font-size: 40px;
  color: #00104c;
}

.a2 {
  font-family: "Nunito";
  line-height: 0.50;
  font-size: 20px;
  color: #00104c;
}

.all {
  padding: 20px;

}


